<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="guest/js/head.js"></script>
</head>

<body>
  <!-- Header Section Start -->
  <div class="header"></div>
  <!-- Header Section End -->








  <!-- Login Section Start -->
  <div id="login">
    <div class="container">
      <div class="section-header">
        <h2>Login</h2>
      </div>
      <div class="col-md-6">
        <div class="login-form">
          <form>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Your Email</label>
                <input type="email" class="form-control" required="required" />
              </div>
              <div class="control-group col-sm-6">
                <label>Your Password</label>
                <input type="password" class="form-control" required="required" />
              </div>
            </div>
            <div class="button"><button type="submit">Login</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Section End -->

  <!-- join Section Start -->
  <div id="login" hidden>
    <div class="container">
      <div class="section-header">
        <h2>Join</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="login-form">
            <form>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <label>Your Name</label>
                  <input type="text" class="form-control" required="required" />
                </div>
                <div class="control-group col-sm-6">
                  <label>Email</label>
                  <input type="email" class="form-control" required="required" />
                </div>
              </div>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <label>Your Password</label>
                  <input type="password" class="form-control" required="required" />
                </div>
                <div class="control-group col-sm-6">
                  <label>Repeat Your Password</label>
                  <input type="password" class="form-control" required="required" />
                </div>
              </div>
              <div class="button"><button type="submit">Registration</button></div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- join Section End -->




  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="guest/vendor/jquery/jquery.min.js"></script>
  <script src="guest/vendor/jquery/jquery-migrate.min.js"></script>
  <script src="guest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="guest/vendor/easing/easing.min.js"></script>
  <script src="guest/vendor/stickyjs/sticky.js"></script>
  <script src="guest/vendor/superfish/hoverIntent.js"></script>
  <script src="guest/vendor/superfish/superfish.min.js"></script>
  <script src="guest/vendor/wow/wow.min.js"></script>
  <script src="guest/vendor/slick/slick.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/moment.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Booking Javascript File -->
  <script src="guest/js/booking.js"></script>
  <script src="guest/js/jqBootstrapValidation.min.js"></script>

  <!-- Main Javascript File -->
  <script src="guest/js/main.js"></script>
  <script src="guest/js/share.js"></script>

</body>

</html>