<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <script src="/morari/admin/js/head.js"></script>
	
    <script src="/morari/admin/js/share.js"></script>
	
	<style>
		td {
			border: 3px solid black;
		}
	</style>
	
</head>

<body id="page-top" style="display: none">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar -->
        <div class="sidebarshare"></div>
        <!-- sidebar end -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- topbar -->
                <div class="topbarshare"></div>
                <!-- topbar end -->

                <!-- Begin Page Content(開始主要內容區塊) -->
                <div class="container-fluid">
				
				<h3>揪團管理</h3>
				<button type="button" onclick="window.location.href='insert.controller'">新增</button>
				
				<table id="result"></table>
				
				<form id="select">
				<button type="button" name="select">條件查詢</button>
				起始日期: <input type="date" id="startdate" name="startdate">
				結束日期: <input type="date" id="enddate" name="enddate">
				<select id="initiatingnum" name="initiatingnum">
				</select>
				<select id="userprofiles" name="userprofiles">
				</select>
				<select id="camparea" name="camparea">
				</select>
				</form>
				
				<form>
				<button type="button">模糊搜尋</button>
				<input type="text">
				</form>
				
				<table id="selectResult"></table>
           
                </div>
                <!-- /.container-fluid(結束主要內容區塊) -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div class="footershare"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="loginoutshare"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="/morari/admin/vendor/jquery/jquery.min.js" defer></script>
    <script src="/morari/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <!-- Core plugin JavaScript-->
    <script src="/morari/admin/vendor/jquery-easing/jquery.easing.min.js" defer></script>

    <!-- Custom scripts for all pages-->
    <script src="/morari/admin/js/sb-admin-2.min.js" defer></script>

    <!-- Page level plugins -->
    <script src="/morari/admin/vendor/chart.js/Chart.min.js" defer></script>

    <!-- Page level custom scripts -->
    <script src="/morari/admin/js/demo/chart-area-demo.js" defer></script>
    <script src="/morari/admin/js/demo/chart-pie-demo.js" defer></script>
    
    <script type="text/javascript">
		fetch('view.controller', { method: 'GET' }).then(
			function (response) {
				if (response.status != 200) {
					console.log(response.satus);
					return;
				}
				
				console.log(response);


				response.json().then(function (data) {
					var resultText = '';
					var optionData= "";
					
					var tableData = "";
					tableData += "<th>"  +"<td>" + "揪團編號" + 
					"</td>" + "<td>" + "發文會員" + 
					"</td>" + "<td>" + "發文日期" + "</td>" + "<td>" + "開始日期" + "</td>" + "<td>" +
					"結束日期" + "</td>" + "<td>" + "目前人數" + "</td>" + "<td>" + "接受人數" + "</td>" +
					"<td>" + "露營地點" + "</td>" + "<td>" + "配對狀態" + "</td>" + "</th>";
					optionData += "<option value=" + "0" + '"' + ">" + "請選擇表單號碼" + "</option>"
					for (var i = 0; i < data.length; i++) {
						var pDay = new Date(data[i].postdate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});
						var sDay = new Date(data[i].startdate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});;
						var eDay = new Date(data[i].enddate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});;
						
						var pair = "可配對";
						if (data[i].pair != 0) {
							pair = "不可配對"
						}
						
						resultText += data[i].initiatingnum + " " 
						+ data[i].userprofiles.uid
							+ " " + data[i].postdate + " " + data[i].startdate + " "
							+ data[i].enddate + " " + data[i].currentnum + " "
							+ data[i].acceptablenum + " " + data[i].camparea + " "
							+ data[i].pair + "<br/>";
							
						tableData += "<tr>" + "<td><form " + 
						"action=" + "/delete.controller/" + "{" + data[i].initiatingnum + "}" + 
						" method=" + '"delete"' +
						"><input type="+ '"hidden"' + "name=" + '"dnum"' + "value=" + '"' + data[i].initiatingnum + '"' +">" + 
						"<button type=" + '"button"' + "name=" + '"delete"' + ">" + "刪除" + "</button>" + "</form>"+
						
						"<form " + "action=" + "/morari/team/update.controller" + 
						" method=" + '"get"' +
						"><input type="+ '"hidden"' + "name=" + '"dnum"' + "value=" + '"' + data[i].initiatingnum + '"' +">" +
						"<input type="+ '"hidden"' + "name=" + '"pman"' + "value=" + '"' + 
						data[i].userprofiles.uid + 
						'"' +">"+
						"<button type=" + '"submit"' + "name=" + '"update"' + ">" + "修改" + "</button>" + "</form>"
						
						+ "</td>" + "<td>" + data[i].initiatingnum + 
						"</td>" + "<td>" + 
						data[i].userprofiles.uid + 
						"</td>" + "<td>" + pDay + "</td>" + "<td>" + sDay + "</td>" + "<td>" +
						eDay + "</td>" + "<td>" + data[i].currentnum + "</td>" + "<td>" + data[i].acceptablenum + "</td>" +
						"<td>" + data[i].camparea + "</td>" + "<td>" + pair + "</td>" +"</tr>"
						
						optionData += "<option value=" + data[i].initiatingnum + '"' + ">" + data[i].initiatingnum + "</option>"
					}
					document.getElementById('result').innerHTML = tableData;
					document.getElementById('initiatingnum').innerHTML = optionData;
					
					//露營地點不重複
					optionData = '';
					var campareaData = data.filter(function(item, index, self) {
					    return index === self.findIndex(function(t) {
					        return t.camparea === item.camparea;
					    });
					});
					optionData += "<option value=" + "0" + ">" + "請選擇露營地點" + "</option>"
					for (var i = 0; i < campareaData.length; i++){
						optionData += "<option value=" + campareaData[i].camparea + ">" + campareaData[i].camparea + "</option>"
					}
					document.getElementById('camparea').innerHTML = optionData;
					
					//發文會員不重複
					optionData = '';
					var uidData = data.filter(function(item, index, self) {
					    return index === self.findIndex(function(t) {
					        return t.userprofiles === item.userprofiles;
					    });
					});
					optionData += "<option value=" + "0" + ">" + "請選擇發文會員" + "</option>"
					for (var i = 0; i < uidData.length; i++){
						optionData += "<option value=" + '"' + uidData[i].userprofiles.uid + '"' + ">" + uidData[i].userprofiles.uid + "</option>"
					}
					document.getElementById('userprofiles').innerHTML = optionData;
				});
			});
		
		var xh = new XMLHttpRequest();
		xh.open('get', 'view.controller', true);
		xh.send();
		
		document.getElementById("result").addEventListener("click", function(event) {
			  if (event.target.name === "delete") {
				  	var name = event.target.name;
		        	console.log(name);
		            var formData = new FormData(event.target.form);
		            var value = formData.get('dnum');
		            console.log(value);
		            
		            // 發出 DELETE 請求
		            var xhr = new XMLHttpRequest();
		            if(name == "delete"){
		            	var result = confirm("確定要刪除此筆資料嗎？");
		            	
		            	if(result){
		           		xhr.open('DELETE', 'delete.controller/{' + value + "}");
		            	xhr.onload = function() {
		            	  if (xhr.status === 200) {
		            	    console.log(xhr.responseText);
		            	    location.href="/morari/team/teammanager.controller";
		            	  }
		            	  else {
		            	    console.error(xhr.responseText);
		            	  }
		            	};
		           		xhr.send();
		            	}
		            
		            }
			  }
		});
	
		xh.onload = function () {

			var data = JSON.parse(xh.responseText);
			
			document.querySelectorAll("button").forEach(function(button) {
		        button.addEventListener("click", function(event) {
		        	
		        	// 取得表單輸入
		        	var name = button.name;
		        	console.log(name);
		            var formData = new FormData(button.form);
		            var value = formData.get('dnum'); 
		           
		     	    if(name == "select"){
		     			
		     			console.log(formData)
		     			var startdate = formData.get('startdate');
		     			console.log(startdate);
		     			var enddate = formData.get('enddate');
		     			console.log(enddate);
		     			
		     			if(startdate > enddate && startdate != "" && enddate != ""){
		     				alert("起始日期不可小於結束日期，這不是時空旅行！！！");
		     				return;
		     			}else{
		     				
		     			var inum = formData.get('initiatingnum');
			     		formData.delete("initiatingnum");
			     		formData.append("initiatingnum", parseInt(inum));
			     		var uid = formData.get("userprofiles");
			     		console.log(uid);
			     		formData.delete("userprofiles");
		     				
		     			const data = Object.fromEntries(formData);
						const json = JSON.stringify(data);
		     			
		     			fetch('select.controller/{' + uid + '}', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: json
						})
							.then(function (response) {
								console.log(response);
								if (response.status == 200) {
									response.json().then(function (data){
										var resultText = "";
										var tableData = "";
										tableData += 
										"<td>" + "揪團編號" + 
										"</td>" + "<td>" + "發文會員" + 
										"</td>" + "<td>" + "發文日期" + "</td>" + "<td>" + "開始日期" + "</td>" + "<td>" +
										"結束日期" + "</td>" + "<td>" + "目前人數" + "</td>" + "<td>" + "接受人數" + "</td>" +
										"<td>" + "露營地點" + "</td>" + "<td>" + "配對狀態" + "</td>"
										;
										if(data.length == 0){
											tableData = "查無資料";
										}
										for (var i = 0; i < data.length; i++) {
											var pDay = new Date(data[i].postdate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});
											var sDay = new Date(data[i].startdate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});;
											var eDay = new Date(data[i].enddate).toLocaleDateString("zh-TW", {year: 'numeric', month: '2-digit', day: '2-digit'});;
											
											var pair = "可配對";
											if (data[i].pair != 0) {
												pair = "不可配對"
											}
											
											resultText += data[i].initiatingnum + " " 
											+ data[i].userprofiles.uid
												+ " " + pDay + " " + sDay + " "
												+ eDay + " " + data[i].currentnum + " "
												+ data[i].acceptablenum + " " + data[i].camparea + " "
												+ pair + "<br/>";
												
											tableData += "<tr>" +"<td>" + data[i].initiatingnum + 
											"</td>" + "<td>" + data[i].userprofiles.uid + 
											"</td>" + "<td>" + pDay + "</td>" + "<td>" + sDay + "</td>" + "<td>" +
											eDay + "</td>" + "<td>" + data[i].currentnum + "</td>" + "<td>" + data[i].acceptablenum + "</td>" +
											"<td>" + data[i].camparea + "</td>" + "<td>" + pair + "</td>" + "</tr>"
										}
										document.getElementById('selectResult').innerHTML = tableData;
									});
								}
							});
		     			
		     			}//else結束
		     			
		            }else if(name == "message"){
		            	
		            }
		            
		        });
		    });
		}
	
	</script>

</body>

</html>