<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="/morari/guest/js/head.js"></script>
  <!-- sharepage 公用頁面 -->
  <script src="/morari/guest/js/share.js"></script>
  <link rel="stylesheet" href="https://kit.fontawesome.com/609970ed36.css" crossorigin="anonymous">
</head>

<body style="display: none">
  <!-- Header Section Start -->
  <div class="header"></div>
  <!-- Header Section End -->
  <div class="wrapper">





    <!-- 分離範例 -->
    <!-- <div class="test"></div>
  <script src="/morari/camper/js/test.js"></script> -->

<!-- <h2>歡迎加入我們！</h2> -->
	
<!-- 	<form action="/morari/guest/work/startResumeInsert.controller" method="get"> -->
<!-- 	簡歷<input id="resume" type="submit" value="前往"> -->
<!-- 	</form> -->

	


<!-- 	<table id="showInsert"></table> -->
 		<div id="amenities">
            <div class="container">
                <div class="section-header">
                    <h2>歡迎加入我們！</h2>
                   
                    <p style="font-weight: bold; ">現正招募熱愛戶外活動的你，加入我們的大家庭！維護露營區，享受大自然，
                    同時積累實戰經驗，並有升遷機會！或是想體驗露營生活和與大自然親密接觸嗎？
                    現在招募打工換宿人員，協助維護露營區，享受免費住宿和伙食，同時認識更多志同道合的朋友！
                    薪資優渥，福利完善，快加入我們吧！</p>
        
               </div>
       			 <div style="display: flex; justify-content: space-between;">
  					<div style="display: flex; align-items: center;">
    					<h3 >類型</h3>
  						<button id="selectType" class="btn btn-success btn-icon-split" style="margin: 0px 10px;display: block;" value="長期工作" onclick='selectType($(this).val())'>長期工作</button>
  						<button id="selectType" class="btn btn-success btn-icon-split" style="margin: 0px 10px;display: block;" value="短期工讀" onclick='selectType($(this).val())'>短期工讀</button>
  						<button id="selectType" class="btn btn-success btn-icon-split" style="margin: 0px 10px;display: block;" value="打工換宿" onclick='selectType($(this).val())'>打工換宿<i class="fa-solid fa-magnifying-glass"></i></button>
  					</div>
  					<div style="display: flex; align-items: center;">
  			  			<h3>職缺查詢</h3>
    		 			<input id="sej" type="text" name="job" style="margin: 0px 10px;display: block;border-radius: 10%;" required>
   			 			<button id="selectJob" class="btn btn-success btn-icon-split" style="margin: 0px 10px;display: block;" onclick='selectJob(document.getElementById("sej").value)'>查詢<i class="fa-solid fa-magnifying-glass"></i></button>
 		 			</div>
				</div>
				<hr style="border: none; border-top: 2px solid black;">	
             
            	 <table id="showSelect" style=" margin: 0 auto"></table>
            	 <div class="row" id="banners"></div>
            </div>
            
        </div>



  </div>
  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="/morari/guest/vendor/jquery/jquery.min.js"></script>
  <script src="/morari/guest/vendor/jquery/jquery-migrate.min.js" defer></script>
  <script src="/morari/guest/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="/morari/guest/vendor/easing/easing.min.js" defer></script>
  <script src="/morari/guest/vendor/stickyjs/sticky.js" defer></script>
  <script src="/morari/guest/vendor/superfish/hoverIntent.js" defer></script>
  <script src="/morari/guest/vendor/superfish/superfish.min.js" defer></script>
  <script src="/morari/guest/vendor/wow/wow.min.js" defer></script>
  <script src="/morari/guest/vendor/slick/slick.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment-timezone.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" defer></script>

  <!-- Booking Javascript File -->
  <script src="/morari/guest/js/booking.js" defer></script>
  <script src="/morari/guest/js/jqBootstrapValidation.min.js" defer></script>

  <!-- Main Javascript File -->
  <script src="/morari/guest/js/main.js" defer></script>

<!-- 我自己的東西 -->
 <script type="text/javascript"></script>
 <script src="/morari/work/guestJs/workGuest.js" defer></script>

</body>

</html>