<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <script src="/morari/admin/js/head.js"></script>

    <!-- sharepage -->
    <script src="/morari/admin/js/share.js"></script>

</head>

<body id="page-top" style="display: none">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar -->
        <div class="sidebarshare"></div>
        <!-- sidebar end -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- topbar -->
                <div class="topbarshare"></div>
                <!-- topbar end -->

                <!-- Begin Page Content(開始主要內容區塊) -->
                <div class="container-fluid">

                    <div class="row">

                        <!-- Content Row -->

                        <div class="col-xl-8 col-lg-7">
                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">近10天註冊人數</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="registerdate"></canvas>
                                    </div>
                                    <!-- <hr>
                                    近1個月註冊人數 -->
                                    <!-- <code>/js/demo/chart-area-demo.js</code> file. -->
                                </div>
                            </div>
                        </div>
                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">上季銷售品項</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                    商品銷售種類
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid(結束主要內容區塊) -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div class="footershare"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="loginoutshare"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="/morari/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/morari/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <!-- Core plugin JavaScript-->
    <script src="/morari/admin/vendor/jquery-easing/jquery.easing.min.js" defer></script>

    <!-- Custom scripts for all pages-->
    <script src="/morari/admin/js/sb-admin-2.min.js" defer></script>

    <!-- Page level plugins -->
    <script src="/morari/admin/vendor/chart.js/Chart.min.js" defer></script>

    <!-- Page level custom scripts -->
    <script src="/morari/admin/js/registerdatechart.js" defer></script>
    <script src="/morari/admin/js/pie.js" defer></script>

    <script src="/morari/admin/vendor/uitls/timeData.js"></script>




</body>

</html>