<!DOCTYPE HTML>
<html lang="zh-TW">

<head>
	<link href="/morari/img/Morari.png" rel="icon">
	<title>Morari</title>
	<meta http-equiv="refresh" content="1.7;URL=home">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/morari/homepage/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/morari/homepage/assets/css/noscript.css" />
	</noscript>
	<script src="https://kit.fontawesome.com/c5dcdb1f13.js" crossorigin="anonymous"></script>


</head>

<body class="is-preload">
	<div>

	</div>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="fa-solid fa-tent fa-2xl"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Welcome Morari</h1>
					<p></p>
				</div>
			</div>

			</nav>
		</header>



		<!-- Footer -->
		<footer id="footer">
			© <a href="#">Morari</a>, All Right Reserved.
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="/morari/homepage/assets/js/jquery.min.js"></script>
	<script src="/morari/homepage/assets/js/browser.min.js"></script>
	<script src="/morari/homepage/assets/js/breakpoints.min.js"></script>
	<script src="/morari/homepage/assets/js/util.js"></script>
	<script src="/morari/homepage/assets/js/main.js"></script>
	<Script></Script>

</body>

</html>